<%- include("./partials/header") %>

<div class="text-center" style="min-height:100vh">
  <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
  <form class="form" action="/register" method="POST">
    <input class="form-control" type="text" name="username" placeholder="username">
    <input class="form-control" type="password" name="password" placeholder="password">
    <input class="form-control" type="text" name="firstName" placeholder="first name">
    <input class="form-control" type="text" name="lastName" placeholder="last name">
    <input class="form-control" type="text" name="avatar" placeholder="avatar URL">
    <input class="form-control" type="email" name="email" placeholder="email">
    <button class="btn btn-lg btn-primary btn-block">Sign up</button>
  </form>
  <a href="/trips">Go back</a>
</div>

<%- include("./partials/footer") %>